.vscode
.idea
capp/test.txt
capp/main
capp/main.manifest
capp/main.o
capp/main.manifest.sgx
capp/main.sig
capp/main.token
app/key.txt
app/ecdsa_secret
app/main.manifest
app/main.manifest.sgx
app/main.sig
app/main.token
__pycache__
.pytest_cache
local_public_key
local_secret_key
remote_public_key
remote_public_key_hex
model_shared_secret_key
data_shared_secret_key
gr.quote
ias.cert
ias.report
ias.sig
sgxapp.manifest
sgxapp.manifest.sgx
sgxapp.sig
sgxapp.token
/app/attestation_report.json
/app/data.csv
/app/data_public_key
/app/model.py
/app/model_public_key
/app/trained_model.pkl
