.vscode
capp/test.txt
capp/main
capp/main.manifest
capp/main.o
capp/main.manifest.sgx
capp/main.sig
capp/main.token
.idea/.gitignore
.idea/mcy-sgx-gramine.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.pytest_cache
app/key.txt
app/ecdsa_secret
app/main.manifest
app/main.manifest.sgx
app/main.sig
app/main.token
app/__pycache__/__init__.cpython-38.pyc
app/__pycache__/constants.cpython-38.pyc
local_public_key
local_secret_key
remote_public_key
remote_public_key_hex
model_shared_secret_key
data_shared_secret_key
gr.quote
ias.cert
ias.report
ias.sig
sgxapp.manifest
sgxapp.manifest.sgx
sgxapp.sig
sgxapp.token
