cryptography~=43.0.0
ecdsa~=0.19.0
numpy~=2.0.1
pandas~=2.2.2
torch~=2.4.0
torchvision~=0.19.0
trl~=0.9.6
peft~=0.12.0
evaluate~=0.4.2

scikit-learn~=1.5.1
matplotlib~=3.9.1.post1

datasets~=2.20.0
transformers~=4.44.0
bitsandbytes~=0.42.0
