#loader.argv = ["--entrypoint", "/usr/bin/python3.8",
#"--arch_libdir", "/lib/x86_64-linux-gnu",
#"--pillow_path", "/home/mercury/Documents/repos/mcy-sgx-gramine/venv/lib/python3.8/site-packages/"]

loader.uid = 1000  # run as root to be able to access gramine os files with python
loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:{{ arch_libdir }}:/usr/{{ arch_libdir }}"

# Restrict the maximum number of threads to prevent insufficient memory
# issue, observed on CentOS/RHEL.
loader.env.OMP_NUM_THREADS = "8"

loader.insecure__use_cmdline_argv = true

loader.pal_internal_mem_size = "128M"

fs.mounts = [
  { uri = "file:{{ gramine.runtimedir() }}", path = "/lib" },
  { uri = "file:{{ arch_libdir }}", path = "{{ arch_libdir }}" },
  { uri = "file:/usr", path = "/usr" },
  { uri = "file:/etc", path = "/etc" },
  { uri = "file:{{ pillow_path }}", path = "{{ pillow_path }}" },

  { type = "tmpfs", path = "/tmp" },

  { path = "/local_secret_key", uri = "file:local_secret_key", type = "encrypted", key_name = "_sgx_mrenclave" },
]

sgx.nonpie_binary = true
sgx.enclave_size = "1G"
sgx.thread_num = 32
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}
sgx.remote_attestation = "epid"
sgx.ra_client_linkable = false
sgx.ra_client_spid = "741871B230A61340FEBE8B50A803525F"  # TODO: do not hardcode

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ entrypoint }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ arch_libdir }}/",
  "file:/usr/{{ arch_libdir }}/",
  "file:{{ python.stdlib }}/",
  "file:{{ python.distlib }}/",
  "file:{{ pillow_path }}",
  "file:{{ python.get_path('stdlib', vars={'installed_base': '/usr/local'}) }}/",

  "file:ra.py",
  "file:constants.py",
  "file:utils.py",
]

sgx.allowed_files = [
#  "file:gr.quote",
#  "file:ias.report",
#  "file:ias.sig",
#  "file:ias.cert",
  "file:{{ gr_quote }}",
  "file:{{ ias_report }}",
  "file:{{ ias_signature }}",
  "file:{{ ias_certificate }}",
]