{% set ARCH_LIBDIR = "/lib/x86_64-linux-gnu" %}
{% set ENTRYPOINT = "/usr/bin/python3.8" %}
{% set LOG_LEVEL = "error" %}

libos.entrypoint = "{{ ENTRYPOINT }}"

loader.uid = 1000  # run as root to be able to access gramine os files with python
loader.entrypoint = "file:{{ gramine.libos }}"
loader.log_level = "{{ LOG_LEVEL }}"
loader.env.LD_LIBRARY_PATH = "/lib:/usr/lib:{{ ARCH_LIBDIR }}"
loader.env.OMP_NUM_THREADS = "8"
loader.pal_internal_mem_size = "128M"

# TODO: remove this config
# TODO: we have to run the full sgxapp at once, not separately by calling arguments like this: ./sgxapp startup.py
loader.insecure__use_cmdline_argv = true

fs.mounts = [
  { uri = "file:{{ gramine.runtimedir() }}", path = "/lib" },
  { uri = "file:{{ ARCH_LIBDIR }}", path = "{{ ARCH_LIBDIR }}" },
  { uri = "file:/usr", path = "/usr" },
  { uri = "file:/etc", path = "/etc" },
  { type = "tmpfs", path = "/tmp" },
  { path = "/local_secret_key", uri = "file:local_secret_key", type = "encrypted", key_name = "_sgx_mrenclave" },
]

sgx.nonpie_binary = true
sgx.enclave_size = "1G"
sgx.thread_num = 32
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}
sgx.remote_attestation = "epid"
sgx.ra_client_linkable = false
sgx.ra_client_spid = "741871B230A61340FEBE8B50A803525F"  # TODO: do not hardcode

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ ENTRYPOINT }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ ARCH_LIBDIR }}/",
{% for path in python.get_sys_path(ENTRYPOINT) %}
  "file:{{ path }}{{ '/' if path.is_dir() else '' }}",
{% endfor %}

  "file:trusted_src/",
]

sgx.allowed_files = [
  "file:gr.quote",
  "file:local_public_key",
  "file:data_public_key",
  "file:model_public_key",
  "file:encrypted_data.csv",  # TODO: data file name should be according to id
  "file:encrypted_model.py",  # TODO: model file name should be according to id
  "file:encrypted_trained_model.pkl",  # TODO: model file name should be according to id
]